.planning-controls {
  padding: 10px 10px 0 10px;
  text-align: center;
  button {
    font-size: .9em;
  }
}

/* Desktop */
@media (min-width: 800px) {

  .planning-controls {
    padding: 10px;
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
    }
  }

}
