body {
  margin: 0;
  height: 100%;

  background-color: aliceblue;
}

body, input, select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;

  .navigation {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      flex-grow: 1;
      flex-basis: 1px;
      text-align: center;
      button {
        width: 100%;
        font-size: 1em;
      }
    }
  }
}
